vhdl/work
doc/notes
ise/*
!ise/EPU.xise
!ise/WaxwingSpartan6DevBoard.ucf
vhdl/sim/top/*
!vhdl/sim/top/Makefile
!vhdl/sim/top/view.sav
*.o
*.swp
*.bin
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.toc
*.aux
