TODO.md
vhdl/work
doc/notes
ise/*
!ise/EPU.xise
!ise/WaxwingSpartan6DevBoard.ucf
vhdl/sim/sim_top_tb.vcd
vhdl/sim/top_tb
*.o
*.swp
*.bin
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.toc
*.aux
