TODO.md
uart_log.txt
vhdl/work
doc/notes
ise/*
!ise/ipcore_dir/
ise/ipcore_dir/*
!ise/ipcore_dir/blk_mem.ngc
!ise/ipcore_dir/mem_text.vhd
!ise/ipcore_dir/mem_text.ngc
!ise/ipcore_dir/mem_font.vhd
!ise/ipcore_dir/mem_font.ngc
!ise/EPU.xise
!ise/WaxwingSpartan6DevBoard.ucf
/* ise/ipcore_dir */
!ise/ipcore_dir/blk_mem.ngc
vhdl/sim/sim_top_tb.vcd
vhdl/sim/top_tb
*.o
*.swp
*.bin
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.toc
*.swo
e~*
